//основной контент, в т.ч. с товаром магазина
.content {
  //внутренний отступ
  padding: 45px;

  //блок с заголовком h1 и поиском
  .blockH1Search {
    //выставляем в одну строку
    display: flex;
    //выравниваем по центру по вертиккали
    align-items: center;
    //отступ снизу 20пикс
    margin: 0 0 20px 0;
    //раскидываю блоки по краям
    justify-content: space-between;

    //блок с поиском
    .searchBlock {
      //закругление углов
      border-radius: 10px;
      //стиль обводки
      border: 1px solid #f3f3f3;
      //выставляю в строку
      display: flex;
      //по вертикали центрую
      align-items: center;
      //внутренние отступы
      padding: 0 7px 0 18px;

      //поисковый input
      input {
        //размер шрифта
        font-size: 14px;
        //длина
        width: 200px;
        font-weight: 400;
        //убираю обводку
        border: 0;
        //внутренние отступы
        padding: 13px 0 13px 15px;

        //placeholder инпута (надпись "Поиск...")
        &::placeholder {
          color: #c4c4c4;
        }

        // инпут когда активен
        &:focus {
          outline: none; /* убираем обводку при фокусе */
        }
      }
    }
  }

  //контейнер с картами товаров
  .logos {
    //чтобы расположить контент внутри в строчку
    display: flex;
    //отцентровать
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
