//всё
* {
  //название шрифта
  font-family: Inter;
  margin: 0;
}

//для всей страницы стили
body {
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

//className wrapper-обретка. задали фон, тень, закругление углов, макс ширину, отступ сверху снизу, выравнивание по центру
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

// вынесен в отдельный класс для применения на других зеленых кнопках
.greenButton {
  // высота для кнопки фиксированная
  height: 55px;
  // это button, убираю обводку
  border: 0;
  background: #9dd458;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  // для того, чтобы далее при использовании в других кнопках для стрелки сразу использовать position absolute
  position: relative;
  cursor: pointer;
  // прозрачность
  opacity: 1;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
  color: white;
  font-size: 16px;
  font-weight: 500;

  // при наведении
  &:hover {
    // фон становится прозрачнее
    opacity: 0.85;
  }

  // при нажатии
  &:active {
    // затемняется фон
    background: darken($color: #9dd458, $amount: 10%);
  }
}
